---
---

@import 'bootstrap/bootstrap';

#navbar-main {
  margin-top: 2em;	
}

.navbar-brand img {
  height: 4em;
  margin-right: -1.5em;
  vertical-align: bottom;
}

.jumbotron {
	text-align: center;

	ul {
		margin-top: 3em;
	}
}
